:root {
  --color-primary: #333333;
  --color-navlink: #ffffff;
  --color-navlink-active: #91bbf2;
  --color-header-background: #1f2d5a;
  --color-content-background: #ffffff;

  --max-width: 1400px;

  --font-primary: Inter, sans-serif;

  --size-primary: 16px;
}
