.headerLink {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  text-decoration-line: none;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: var(--color-navlink);
  font-weight: 600;
}

.headerLink:hover {
  color: var(--color-navlink-active);
}

.headerLink:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px;
  left: 0;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.headerLink:hover:before {
  width: 100%;
}

.icon {
  color: var(--color-navlink);
  transition: color 0.2s ease-in-out;
}

.headerLink:hover .icon {
  color: var(--color-navlink-active);
}

.activeHeaderLink {
  color: var(--color-navlink-active);
}

.activeHeaderLink .icon {
  color: var(--color-navlink-active);
}

.activeHeaderLink:before {
  width: 30%;
}
